@import "../../_settings.scss";

.column {
  flex: 0 0 auto;
  width: 300px;
  height: calc(100% - #{$gap});
  // margin-left: 10px;

  > * {
    background-color: $list-bg-color;
    color: #333;
    padding: 0 8px;
  }

  header {
    padding-left: 15px;
    height: $column-header-height;
    line-height: $column-header-height;
    font-size: 16px;
    font-weight: bold;
    border-top-left-radius: $column-border-radius;
    border-top-right-radius: $column-border-radius;

    .form-control {
      margin: 2px 0 0 0;
    }
  }

  .column-drag-handle {
    display: flex;
    justify-content: space-between;

    .column-dropdown {
      margin-right: 10px;
      .dropdown-toggle {
        &:hover {
          background-color: #091e4214;
        }
      }
    }
  }

  ul.task-list {
    list-style-type: none;
    margin: 0;
    min-height: 30px;
    max-height: calc(
      100% - #{$column-header-height} - #{$column-footer-height}
    );
    overflow-y: auto;
    &::-webkit-scrollbar {
      -webkit-appearance: none;
    }

    &::-webkit-scrollbar:vertical {
      width: 11px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: darken($color: $list-bg-color, $amount: 15);
      border-right: 5px solid $list-bg-color;
    }
  }

  footer {
    padding-left: 10px;
    line-height: $column-footer-height;
    border-bottom-left-radius: $column-border-radius;
    border-bottom-right-radius: $column-border-radius;
    color: #888;

    .footer-action {
      margin-left: 10px;
      cursor: pointer;
      &:hover {
        color: #333;
      }
    }

    .content-add-task {
      min-width: 250px;
      height: fit-content;
      border-radius: $card-border-radius;

      .form-control {
        width: 100%;
      }

      .group-btn {
        display: flex;
        padding: 10px 0; 
        align-items: center;

        i {
          font-size: 30px;
          padding-left: 10px;
          cursor: pointer;
        }
      }
    }
  }
}
