@import "../../_settings.scss";

.board-columns {
  display: flex;
  margin: 0 $gap $gap;
  gap: $gap;
  overflow-x: auto;

  &::-webkit-scrollbar {
    -webkit-appearance: none;
  }

  &::-webkit-scrollbar:horizontal {
    height: 11px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgba($color: #fff, $alpha: 0.24);
    border-radius: 8px;
    background-clip: padding-box;
  }

  .btn-new-column {
    width: 250px;
    border-radius: $card-border-radius;
    border: none;
    text-align: start;
    height: 42px;
    line-height: 32px;
    cursor: pointer;
    color: white;
    margin-left: $gap;
    font-size: 15px;
    background-color: rgba(255, 255, 255, 0.24);
    padding: 4px 0 4px 15px;

    &:hover {
      background-color: rgba(255, 255, 255, 0.34);
    }
  }

  .content-add-column {
    width: 250px;
    margin-left: 10px;
    background-color: rgba(255, 255, 255, 0.34);
    border-radius: $card-border-radius;
    padding: 5px;
    height: 95px;

    .group-btn {
      display: flex;
      padding-top: 10px;
      align-items: center;

      i {
        font-size: 30px;
        padding-left: 10px;
        cursor: pointer;
      }
    }
  }
}
